@model BlogModel
@{
    ViewData["Title"] = $"Страница {Model.Name_page}";
}
<div class="navigation-history">
    <p>
        <a asp-action="Index">Главная</a> -> <a asp-action="Blogs">@Model.Name_page</a> -> @Model.blog_With_Image.Title
    </p>
</div>

<div class="article-container-blog">
    <h2>@Model.blog_With_Image.Title</h2>
    <hr />
    <div class="date-blog">
        <p>@Model.blog_With_Image.Created.ToString("D")</p>
    </div>
    <div class="article-content-blog">
        <div class="ImageBlog-details" style="background-image: url(@Model.blog_With_Image.ImgSrc)"></div>

        <div class="description-blog-details">
            <p>@Model.blog_With_Image.Description</p>
        </div>
    </div>
    
  
    


    
    @*вставить кнопку "назад"*@
</div>