@model BlogsModel
@{
    Blog blognow = Model.Blogs.First(i => i.Id == Model.BlogId);
    var image_path = "~/Images/" + blognow.ImageUrl;
}
<p>
    <a asp-action="Index">Главная</a> -> <a asp-action="project">@Model.Name_page</a> -> @blognow.Title
</p>
<h2>@blognow.Title</h2>
<div>
    <img class="ImageProject" src="@image_path" asp-append-version="true" />
    <h3>@blognow.Created.ToString("D")</h3>
    <p>@blognow.Description</p>
    @*вставить кнопку "назад"*@
</div>