@model BlogsModel
@{
    Blog blognow = Model.Blogs.First(i => i.Id == Model.BlogId);
    var image_path = "/Images/" + blognow.ImageUrl;
}
<div class="navigation-history">
    <p>
        <a asp-action="Index">Главная</a> -> <a asp-action="Blogs">@Model.Name_page</a> -> @blognow.Title
    </p>
</div>

<div class="article-container-blog">
    <h2>@blognow.Title</h2>
    <hr />
    <div class="date-blog">
        <p>@blognow.Created.ToString("D")</p>
    </div>
    <div class="article-content-blog">
        <div class="ImageBlog-details" style="background-image: url(@image_path)"></div>

        <div class="description-blog-details">
            <p>@blognow.Description</p>
        </div>
    </div>
    
  
    


    
    @*вставить кнопку "назад"*@
</div>