@model ContactsModel
@{
    ViewData["Title"] = $"Страница {Model.Name_page}";
    var image_address = Model.ImgSrc;
}
<div class="navigation-history">
    <p>
        <a asp-action="Index">Главная</a> -> @Model.Name_page
    </p>
</div>
<h1>@Model.Name_page</h1>
<hr />
<div class="contacts-content">
    <div>
        <div>
            <table class="table-contacts">
                @* <thead class="thead-light">
                <tr>
                <th>Название</th>
                <th>Описание</th>
                </tr>
                </thead>*@
                <tbody>
                    @foreach (Contacts item in Model.Contacts)
                    {
                        <tr>
                            <td>@item.Name:</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div>
            <div class="contacts-socialnets">
                @foreach (SocialNet_with_image item in Model.Nets)
                {
                    var image_path = item.ImgSrc;
                    <a href="@item.Url">
                        <div class="image-socialnet" style="background-image: url(@image_path)">
                        </div>

                        @*<img class="ImageProject" src="@image_path" asp-append-version="true" />*@
                    </a>
                }
            </div>




        </div>
    </div>
    <div>
        <div class="image-address" style="background-image: url(@image_address)">
        </div>
    </div>

</div>

