@model ProjectModel
@{
    ViewData["Title"] = $"Страница {Model.Name_page}";
}

<div class="navigation-history">
    <p>
        <a asp-action="Index">Главная</a> -> <a asp-action="project">@Model.Name_page</a> -> @Model.Project_with_image.NameCompany
    </p>
</div>
<div class="article-container">
    <div class="article-content">
        <h2>@Model.Project_with_image.Title</h2>
        <hr />
        <p>@Model.Project_with_image.Description</p>
    </div>
    <div class="article-image" style="background-image: url(@Model.Project_with_image.ImgSrc)">
    </div>
</div>