@model BlogsModel
@{
    ViewData["Title"] = $"Просмотр страницы \"{Model.Name_page}\"";
}
<div class="pad-top">
    <div class="navigation-history">
        <p>
            <a asp-action="Index">Главная</a> -> @Model.Name_page
        </p>
    </div>
    <h1>@Model.Name_page</h1>
    <hr />
    
    <div class="boxes-blog">
        @foreach (Blog item in Model.Blogs)
        {
            var image_path = "/Images/" + item.ImageUrl;

            string ShortDesc;
            if (item.Description.IndexOf('.') < 80 && item.Description.Contains('.'))
                ShortDesc = item.Description.Substring(0, item.Description.IndexOf('.'));
            else
            {
                if (item.Description.Length > 80)
                {
                    ShortDesc = $"{item.Description.Substring(0, 78)}...";
                }
                else
                {
                    ShortDesc = item.Description;
                }
            }

            

            <div class="box-blog">
                <div>                
                    <a asp-action="BlogDetails" asp-controller="Home" asp-route-id="@item.Id">
                        <div>
                            <div class="date-blog">
                                <p>@item.Created.ToString("D")</p>
                            </div>
                            <div class="ImageBlog" id="image-project" style="background-image: url(@image_path)" ></div>
                            <div class="title-blog">
                                <div>@item.Title</div>
                            </div>
                            <div class="description-blog">
                                <p>@ShortDesc</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="button-container">
                    <a asp-action="EditBlog" asp-controller="Admin" asp-route-id="@item.Id">
                        <div class="btn-edit-image"> </div>
                    </a>
                    <a asp-action="DeleteBlogMethod" asp-controller="Admin" asp-route-id="@item.Id">
                        <div class="btn-close-image"></div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="form-submit">
        <a class="btn btn-primary " asp-action="AddNewBlog">Добавить пост</a>
    </div>
</div>