@model ContactsModel
@{
    var image_address = "/Images/" + Model.ImageUrl;
    ViewData["Title"] = $"Просмотр страницы \"{Model.Name_page}\"";
}
<div class="pad-top">
    <div class="navigation-history">
        <p>
            <a asp-action="Index">Главная</a> -> @Model.Name_page
        </p>
    </div>
    <h1>@Model.Name_page</h1>
    <hr />
    <div class="contacts-content">
        <div>
            <div>
                <table class="table-contacts">
                    <tbody>
                        @foreach (Contacts item in Model.Contacts)
                        {
                            <tr>
                                <td>@item.Name:</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div>
                <div class="contacts-socialnets">
                    @foreach (SocialNet item in Model.Nets)
                    {
                        var image_path = "/Images/" + item.ImageUrl;
                        <a href="@item.Url">
                            <div class="image-socialnet" style="background-image: url(@image_path)">
                            </div>
                        </a>
                    }
                </div>
           
           
          
       
            </div>
        </div>
        <div>
            <div class="image-address" style="background-image: url(@image_address)">
            </div>
        </div>
       
    </div>
    <div class="form-submit">
        <a class="btn btn-primary" asp-action="EditContact" asp-controller="Admin">Редактировать</a>
    </div>
</div>


