@model DetailsServiceModel
@{
    var name_page = string.Empty;
    if (Model is null || !Model.is_edit)
    {
        name_page = "Добавление";
        ViewData["Title"] = "Добавить новую услугу";
        name_page = Model?.Name_page ?? @ViewBag.Name_page;
    }
    else
    {
        name_page = Model.Name_page;
        ViewData["Title"] = "Редактировать услугу";
    }
}
<div class="pad-top">
    <div class="navigation-history">
        <p>
            <a asp-action="Index">Рабочий стол</a> -> <a asp-action="ServicesAdmin" asp-controller="Admin">@name_page</a>  -> @ViewBag.Title
        </p>
    </div>
    <div >
        @if (Model is null || !Model.is_edit)
        {
            <div class="service-form">
                <div class="service-form-inputs">
                    <form id="AddServiceForm" asp-action="AddNewServiceMethod" asp-controller="Admin" method="post" asp-antiforgery="true">
                        <input type="hidden" asp-for="Name_page" value="@name_page">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="title">Заголовок</label>
                            <span asp-validation-for="Title" class="text-danger"></span>
                            <input type="text" id="title" asp-for="Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Описание</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <textarea id="description" asp-for="Description" class="description"></textarea>
                        </div>

                    </form>
                </div>
            </div>
            <div class="form-submit">
                <a class="btn btn-primary" href="#" onclick="document.getElementById('AddServiceForm').submit()">Сохранить</a>
            </div>
        }
        else
        {
            <div class="service-form">
                <div class="service-form-inputs">
                    <form id="EditServiceForm" asp-action="EditServiceMethod" asp-controller="Admin" method="post" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" value="@Model.Id">
                        <input type="hidden" asp-for="Name_page" value="@name_page">
                        <div class="form-group">
                            <label for="title">Заголовок</label>
                            <span asp-validation-for="Title" class="text-danger"></span>
                            <input type="text" id="title" asp-for="Title" value="@Model.Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Описание</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <textarea id="description" asp-for="Description" class="description"></textarea>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="form-submit">
                <a class="btn btn-primary" href="#" onclick="document.getElementById('EditServiceForm').submit()">Сохранить</a>
            </div>
        }

   
    
    </div>
</div>