@model DetailsProjectModel
@{
    var image_path = string.Empty; //можно переделать на дефолтную картинку
    if (Model is null)
    {
        ViewData["Title"] = "Добавить новый проект";
    }
    else
    {
        ViewData["Title"] = "Изменить проект";
        image_path = "/Images/" + ViewBag.ImageUrl;
    }

}
<div class="pad-top">
    <p>
        <a asp-action="Index">Рабочий стол</a> -> <a asp-action="ProjectAdmin" asp-controller="Admin">@ViewBag.Name_page</a> -> @ViewBag.Title
    </p>
        @if (Model is null)
        {
            <div class="project-form">
                <div class="project-form-inputs">
                    <form asp-action="AddProjectMethod" asp-controller="Admin" method="post" asp-antiforgery="true" enctype="multipart/form-data" id="AddProjectForm">
                        <div class="form-group">
                            <label for="name">Имя компании</label>
                            <input type="text" id = "name" asp-for="NameCompany" />
                        </div>
                        <div class="form-group">
                            <label for="title">Название проекта</label>
                            <input type="text" id="title" asp-for="Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Описание проекта</label>
                            <textarea id="description" asp-for="Description" class="description"></textarea>
                        </div>
                        <div class="btn btn-primary">
                            <label for="NewProjectImage">Добавить фото</label>
                        </div>
                        <input asp-for="Image" value="Добавить фото" id="NewProjectImage" class="input-for-label" />

                    </form>
                </div>
                <div class="project-form-image" id="image-project"></div>
            </div>
        <div class="form-submit">
            <a class="btn btn-primary" href="#" onclick="document.getElementById('AddProjectForm').submit()">Сохранить</a>
        </div>
        }
        else
        {
            <div class="project-form">
                <div class="project-form-inputs">
                    <form asp-action="EditProjectMethod" asp-controller="Admin" method="post" asp-antiforgery="true" enctype="multipart/form-data" id="EditProjectForm">
                        <input asp-for="Id" value="@Model.Id" type="hidden">
                       
                        <div class="form-group">
                            <label for="name">Имя компании</label>
                            <input type="text" id="name" asp-for="NameCompany" value="@Model.NameCompany" />
                        </div>
                        <div class="form-group">
                            <label for="title">Название проекта</label>
                            <input type="text" id="title" asp-for="Title" value="@Model.Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Описание проекта</label>
                            <textarea id="description" asp-for="Description" class="description" value="@Model.Description"></textarea>
                        </div>
                        <div class="btn btn-primary">
                            <label for="NewProjectImage">Изменить фото</label>
                        </div>
                        <input asp-for="Image" value="Изменить фото" id="NewProjectImage" class="input-for-label"/>

                    </form>
                </div>
                <div class="project-form-image" id="image-project" style="background-image: url(@image_path)"></div>
            </div>
            <div class="form-submit">
                <a class="btn btn-primary " href="#" onclick="document.getElementById('EditProjectForm').submit()">Сохранить</a>
            </div>
        }
</div>
<script>
    document.getElementById("NewProjectImage").addEventListener("change", function (event) {
        var file = event.target.files[0];
        var url = URL.createObjectURL(file);
        document.getElementById("image-project").style.backgroundImage = "url(" + url + ")";
    });
</script>