@model DetailsBlogModel
@{
    var image_path = string.Empty; //можно переделать на дефолтную картинку
    if (Model is null)
    {
        ViewData["Title"] = "Добавить новый элемент блога";
    }
    else
    {
        ViewData["Title"] = "Изменить элемент блога";
        image_path = "/Images/" + ViewBag.ImageUrl;
    }

}
<p>
    <a asp-action="Index">Главная</a> -> <a asp-action="BlogsAdmin" asp-controller="Admin">@ViewBag.Name_page</a> -> @ViewBag.Title
</p>
<div>
    @if (Model is null)
    {
        <form asp-action="AddNewBlogMethod" asp-controller="Admin" method="post" asp-antiforgery="true" enctype="multipart/form-data" id="AddBlogForm">
            <p>Заголовок</p>
            <input type="text" asp-for="Title"><br />
            <p>Содержимое поста</p>
            <input type="text" asp-for="Description"><br />
            <div class="ImageBlog" id="image-blog" style="background-image: url(@image_path)" />
            <input asp-for="Image" value="Добавить фото" id="NewBlogImage" />
            <br />
            <a class="navbar-brand" href="#" onclick="document.getElementById('AddBlogForm').submit()">Сохранить</a>
        </form>
    }
    else
    {
        <form asp-action="EditBlogMethod" asp-controller="Admin" method="post" asp-antiforgery="true" enctype="multipart/form-data" id="EditBlogForm">
            <input type="hidden" value="@Model.Id" asp-for="Id">
            <p>Заголовок</p>
            <input type="text" asp-for="Title" value="@Model.Title"><br />
            <p>Содержимое поста</p>
            <input type="text" asp-for="Description" value="@Model.Description"><br />
            <div class="ImageBlog" id="image-blog" style="background-image: url(@image_path)" />
            @*<img class="ImageMain" src="@image_path" asp-append-version="true" />*@
            <input asp-for="Image" value="Изменить фото" id="NewBlogImage"/>
            <br />

            <a class="navbar-brand" href="#" onclick="document.getElementById('EditBlogForm').submit()">Сохранить</a>
        </form>
    }
</div>
<script>
    document.getElementById("NewBlogImage").addEventListener("change", function (event) {
        var file = event.target.files[0];
        var url = URL.createObjectURL(file);
        document.getElementById("image-blog").style.backgroundImage = "url(" + url + ")";
    });
</script>