@model BlogModel
@{
    var image_path = string.Empty; 
    string name_page;
    if (Model is null || !Model.Is_edit)
    {
        ViewData["Title"] = "Добавить новый элемент блога";

        if (Model is not null && Model.blog_With_Image.ImgSrc != null)
        {
            image_path = Model.blog_With_Image.ImgSrc;
        }
        else
        {
            image_path = "/Images/Default/default.png";
        }

        name_page = Model?.Name_page ?? @ViewBag.Name_page;
    }
    else
    {
        ViewData["Title"] = "Изменить элемент блога";
        name_page = Model?.Name_page ?? @ViewBag.Name_page;
        image_path = string.IsNullOrEmpty(Model?.blog_With_Image.ImgSrc) ? "/Images/Default/default.png" : Model.blog_With_Image.ImgSrc;
    }
}

<div class="pad-top">
    <div class="navigation-history">
        <p>
            <a asp-action="Index">Главная</a> -> <a asp-action="BlogsAdmin" asp-controller="Admin">@name_page</a> -> @ViewBag.Title
        </p>
    </div>
    <div>
        @if (Model is null || Model.Is_edit == false)
        {
            <div class="blog-form">
                <div class="blog-form-inputs">
                    <form asp-action="AddNewBlogMethod" asp-controller="Admin" method="post" asp-antiforgery="true" enctype="multipart/form-data" id="AddBlogForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" value="@name_page" asp-for="Name_page">
                            @if (Model != null)
                            {
                                <input type="hidden" value="@Model.blog_With_Image.ImgSrc" asp-for="blog_With_Image.ImgSrc">
                                <input type="hidden" value="@Model.blog_With_Image.Image_name" asp-for="blog_With_Image.Image_name">
                            }
                        <div class="form-group">
                            <label for="title">Заголовок</label>
                            <span asp-validation-for="blog_With_Image.Title" class="text-danger"></span>
                            <input type="text" id="title" asp-for="blog_With_Image.Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Содержимое поста</label>
                            <span asp-validation-for="blog_With_Image.Description" class="text-danger"></span>
                            <textarea id="description" asp-for="blog_With_Image.Description" class="description"></textarea>
                        </div>
                        <input asp-for="blog_With_Image.Image" value="Добавить фото" id="NewBlogImage" class="input-for-label" />
                        <span asp-validation-for="blog_With_Image.Image" class="text-danger"></span>
                    </form>
                </div>
                <div class="blog-form-image" id="image-blog" style="background-image: url(@image_path)"></div>

            </div>
            <div class="form-submit">
                <a class="btn btn-primary" href="#" onclick="document.getElementById('AddBlogForm').submit()">Сохранить</a>
            </div>
        }
        else
        {
            <div class="blog-form">
                <div class="blog-form-inputs">
                    <form asp-action="EditBlogMethod" asp-controller="Admin" method="post" asp-antiforgery="true" enctype="multipart/form-data" id="EditBlogForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" value="@Model.blog_With_Image.Id" asp-for="blog_With_Image.Id">
                        <input type="hidden" value="@Model.Name_page" asp-for="Name_page">
                        <input type="hidden" value="@Model.blog_With_Image.ImgSrc" asp-for="blog_With_Image.ImgSrc">
                        <input type="hidden" value="@Model.blog_With_Image.Image_name" asp-for="blog_With_Image.Image_name">
                        <div class="form-group">
                            <label for="title">Заголовок</label>
                            <span asp-validation-for="blog_With_Image.Title" class="text-danger"></span>
                            <input type="text" id="title" asp-for="blog_With_Image.Title" value="@Model.blog_With_Image.Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Содержание поста</label>
                            <span asp-validation-for="blog_With_Image.Description" class="text-danger"></span>
                            <textarea id="description" asp-for="blog_With_Image.Description" class="description" value="@Model.blog_With_Image.Description"></textarea>
                        </div>
                        <input asp-for="blog_With_Image.Image" value="Добавить фото" id="NewBlogImage" class="input-for-label" />
                    </form>
                </div>
                <div class="blog-form-image" id="image-blog" style="background-image: url(@image_path"></div>
            </div>
            <div class="form-submit">
                <a class="btn btn-primary" href="#" onclick="document.getElementById('EditBlogForm').submit()">Сохранить</a>
            </div>

        }
    </div>
</div>
<script>
    document.getElementById("NewBlogImage").addEventListener("change", function (event) {
        var file = event.target.files[0];
        var url = URL.createObjectURL(file);
        document.getElementById("image-blog").style.backgroundImage = "url(" + url + ")";
    });
    document.getElementById("image-blog").addEventListener("click", function () {
        document.getElementById("NewBlogImage").click();
    });
</script>