@model AdminModel

@{
    ViewData["Title"] = "Admin desk";
}
<div class="pad-top">

@{
    int lastDigit = Model.AllRequestsCount % 10;
    int lastTwoDigits = Model.AllRequestsCount % 100;

    if (lastTwoDigits >= 11 && lastTwoDigits <=19)
    {
        <h3>Всего @Model.AllRequestsCount заявок</h3>
    }
    else
    {
        if (lastDigit == 1)
        {
            <h3>Всего @Model.AllRequestsCount заявка</h3>
        }
        else
        {
            if (lastDigit >= 2 && lastDigit <=4)
            {
                <h3>Всего @Model.AllRequestsCount заявки</h3>
            }
            else
            {
                <h3>Всего @Model.AllRequestsCount заявок</h3>
            }

        }
    }
}
@*<h3>Всего @Model.AllRequestsCount заявок</h3>*@
@*добавить условия вывода текста в зависимости от количества (заявок, заявки)*@

@*кнопки выбора периода заявок*@
<div>
    <div class="button-container">
            <div class="butt-sort normal-width">
                <a asp-action="TodayRequests">Сегодня</a>
        </div>

            <div class="butt-sort normal-width">
            <a asp-action="YesterdayRequests">Вчера</a>
        </div>
            <div class="butt-sort normal-width">
            <a asp-action="WeekRequests">Неделя</a>
        </div>
            <div class="butt-sort normal-width">
            <a asp-action="MonthRequests">Месяц</a>
        </div>
            <div class="butt-sort large-width dates">
            <form action="~/Admin/RangeDateRequests" method="post">
                <input name ="DateFor" type="date" value="Период С"/>
                <input name="DateTo" type="date" value="По"/>
                <input type="submit" value="Найти"/>
            </form>
        </div>
    </div>
</div>
@{
    lastDigit = Model.Requests.Count() % 10;
    lastTwoDigits = Model.Requests.Count() % 100;

    if (lastTwoDigits >= 11 && lastTwoDigits <= 19)
    {
        <h3>За указанный период поступило: @Model.Requests.Count()  заявок</h3>
    }
    else
    {
        if (lastDigit == 1)
        {
            <h3>За указанный период поступило: @Model.Requests.Count()  заявка</h3>
        }
        else
        {
            if (lastDigit >= 2 && lastDigit <= 4)
            {
                <h3>За указанный период поступило: @Model.Requests.Count()  заявки</h3>
            }
            else
            {
                <h3>За указанный период поступило: @Model.Requests.Count()  заявок</h3>
            }

        }
    }
}
@*комбо бокс для выбора заявок по статусу:*@
<div class="select-status">
        <select asp-items="new SelectList(Model.Statuses)" onchange="PassSelectedValue(this)">
        <option value="" selected="selected">Выберете статус заявки</option>
    </select>
</div>

<table class="table-requests">
    @*настроить ширину столбцов таблицы*@
    <thead class="thead-light">
        <tr>
            <th style="width: 5%;">Номер заявки</th>
            <th style="width: 15%;">Время заявки</th>
            <th style="width: 20%;">Имя</th>
            <th style="width: 30%;">Текст заявки</th>
            <th style="width: 10%;">Контакты</th>
            <th style="width: 20%;">Дополнительно</th>
            

        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (Request item in Model.Requests)
        {
            <form id="@item.Id" method="post" asp-action="SaveNewStatusRequest">
                <tr>
                    <td>
                    
                        @i
                        @{
                            i++;
                        }
                    </td>
                    <input type="hidden" name="RequestId" value="@item.Id" />
                    <td>
                        @item.DateCreated.ToString("g")
                    </td>
                    <td>
                        @item.Fullname
                    </td>
                    <td>
                        @item.Textrequest
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @*комбо бокс со статусами*@
                        @*https://demos.telerik.com/aspnet-core/combobox*@
                        @*<combobox name="combobox" index="0" suggest="true" datatextfield="Text" datavaluefield="Value" filter="FilterType.Contains">
                            <label content="Статус" />
                            <datasource>
                                <transport>
                                    <read url="@Url.Action("GetStatuses", "Admin")" />
                                </transport>
                            </datasource>
                        </combobox>*@
                        @*пока что не хочет корректно выводится, так как коллекция статусов это коллекция классов, а эта хрень выводит только по строкам
                        как тут работать, я пока что хз
                        возможно на уровне контроллера выгрузить статусы и отправить сюда чисто текст статуса, а уже по возвращению соотнести текст и id*@
                        <select name="StatusName" asp-items="new SelectList(Model.Statuses, item.Status.StatusName)" onchange="document.getElementById(@item.Id).submit()">

                        </select>
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>
</div>

@section Scripts
    {
    <script>
        function PassSelectedValue(selectObject) {
            window.location.replace("/Admin/StatusRequests?statusName=" + selectObject.value);
        }

    </script>
}