@model MainPageModel
@{
    ViewData["Title"] = "Просмотр страницы 'Главная'";
}
@{
    var image = Model.Image_path;
    var image_path = "/Images/" + image;
}


<div class="text-center">

    <div class="ImageMain">
        <div class="ImageMain" style="background-image: url(@image_path)" />
        @*<img class="ImageMain" src="@image_path" asp-append-version="true" />*@
        <h2>@Model.Title</h2>
        @* два варианта кнопки:*@
        @* <input type="button" value="@Model.First(item => item.Id == 6).Value"/>*@ @*- для этого варика надо еще js прописать, что нахер идет*@
        @*для этого варика надо подпилить css*@
        <form class="navbar-brand" method="post" asp-controller="Home" asp-action="AddRequest" id="AddRequestform" asp-antiforgery="true">
            <a class="navbar-brand" href="#" onclick="document.getElementById('AddRequestform').submit()">@Model.ButtonTitle</a>
        </form>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">@Model.RequestTitle</h1>
</div>
<div>
    <form action="~/Home/AddNewRequest" method="post">
        <p>Имя: </p>          <input type="text" name="Name" /><br />
        <p>Email: </p>        <input type="text" name="Email" /><br />
        <p>Текст сообщения: </p>     <input type="text" name="Description" /><br /><br />
        <p><input type="submit" value="Отправить" /></p>
    </form>
</div>
<form class="navbar-brand" method="post" asp-controller="Admin" asp-action="EditMain" id="EditMainform" asp-antiforgery="true">
    <a class="navbar-brand" href="#" onclick="document.getElementById('EditMainform').submit()">Редактировать</a>
</form>
