@model ProjectsModel
<div class="pad-top">
    <p>
        <a asp-action="Index">Рабочий стол</a> -> @Model.Name_page
    </p>
    <h1>@Model.Name_page</h1>
    <a asp-action="AddNewProject">Добавить проект</a>
    <div class="boxes">
        @foreach (Project item in Model.Projects)
        {
            var image_path = "/Images/" + item.ImageUrl;
       
                <div class="box">
                    <a asp-action="ProjectDetails" asp-controller="Home" asp-route-id="@item.Id">
                        <figure>
                            <div class="ImageProject" id="image-project" style="background-image: url(@image_path)" />
                            @*<img class="ImageProject" src="@image_path" asp-append-version="true" />*@
                            <p>@item.Title</p>
                        </figure>
                    </a>
                    @*кнопки редактирования и удаления*@
                    <div class="button-container">
                        <a asp-action="DetailsProject" asp-controller="Admin" asp-route-id="@item.Id">
                            <div class="btn-edit-image"> </div>
                        </a>

                        <a asp-action="DeleteProjectMethod" asp-controller="Admin" asp-route-id="@item.Id">
                            <div class="btn-close-image"></div>
                        </a>
                    </div>
                   
                </div>

              
                
               
                
        
        }
    </div>
</div>
