@model ServicesModel
<div class="pad-top">
    <p>
        <a asp-action="Index">Главная</a> -> @Model.Name_page
    </p>
    <h1>@Model.Name_page</h1>
    <a asp-action="AddNewService">Добавить услугу</a>
    <div>
        @foreach (Service item in Model.Services)
        {
            <details>
                <summary>@item.Title</summary>
                <p>@item.Description</p>
            </details>
            @*кнопки редактирования и удаления*@
            <a asp-action="EditService" asp-controller="Admin" asp-route-id="@item.Id">Редактировать</a>
            <a asp-action="DeleteServiceMethod" asp-controller="Admin" asp-route-id="@item.Id">Удалить</a>
        }
    </div>
</div>