@model ServicesModel
<div class="pad-top">
    <div class="navigation-history">
        <p>
            <a asp-action="Index">Рабочий стол</a> -> @Model.Name_page
        </p>
    </div>
    <h1>@Model.Name_page</h1>
    <hr />
    <div>
        @foreach (Service item in Model.Services)
        {
            <div class="service-details">
                <details>
                    <summary>@item.Title</summary>
                    <p>@item.Description</p>
                </details>
                @*кнопки редактирования и удаления*@
                <div class="button-container">
                    <a asp-action="EditService" asp-controller="Admin" asp-route-id="@item.Id">
                        <div class="btn-edit-image"> </div>
                    </a>
                    <a asp-action="DeleteServiceMethod" asp-controller="Admin" asp-route-id="@item.Id">
                        <div class="btn-close-image"></div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="form-submit">
        <a asp-action="AddNewService" class="btn btn-primary ">Добавить услугу</a>
    </div>
</div>